apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: lobe-chat
resources:
  - ../../base/lobe-chat
patchesStrategicMerge:
  - deployment.enc.yaml
  - ingress.enc.yaml
replicas:
- name: lobe-chat
  count: 0