apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: aoai-proxy
resources:
  - ../../base/azure-openai-proxy
patchesStrategicMerge:
  - deployment.enc.yaml
replicas:
- name: azure-openai-proxy
  count: 0  